<!-- start module contents -->
<div class="xhnewbb">
<h1><{$lang_welcomemsg}></h1>
<p class="welcome"><{$lang_tostart}></p>

<dl class="bbsinfo">
<dt><{$lang_totaltopics}></dt>
	<dd><{$total_topics}></dd>
<dt><{$lang_totalposts}></dt>
	<dd><{$total_posts}></dd>
</dl>

<ul class="timeinfo">
	<li><{$lang_currenttime}></li>
	<li><{$lang_lastvisit}></li>
</ul>

<{if $forum_index_title == true}>
<div class="breadcrumbs"><a href="<{$mod_url}>/index.php"><{$forum_index_title}></a></div>
<{/if}>

<!-- start forum categories -->
<{section name=category loop=$categories}>
<h2 class="head"><{$categories[category].cat_title}></h2>
<ul class="bbsctrl">
	<li><a href="<{$mod_url}>/index.php?cat=<{$categories[category].cat_id}>"><{$categories[category].cat_title}></a></li>
	<li><a href="<{$mod_url}>/viewallforum.php?cat=<{$categories[category].cat_id}>"><{$smarty.const._MD_XHNEWBB_ALLTOPICSINDEX}></a></li>
</ul>

<{if $categories[category].forums}>
<table class="outer">
<thead>
<tr>
	<th colspan="2" class="forumtitle"><{$lang_forum}></th>
	<th><{$smarty.const._MD_XHNEWBB_TOPICS}></th>
	<th><{$lang_posts}></th>
	<th><{$lang_lastpost}></th>
</tr>
</thead>

<!-- start forums -->
<{section name=forum loop=$categories[category].forums.forum_id}>
<tr>
<td class="even status">
		<{if $categories[category].forums.forum_type[forum] == 'private'}>
			<img src="<{$categories[category].forums.forum_folder[forum]}>" alt="<{$lang_private}>" title="<{$lang_private}>" />
		<{elseif $categories[category].forums.forum_type[forum] == 'newposts'}>
			<img src="<{$categories[category].forums.forum_folder[forum]}>" alt="<{$lang_newposts}>" title="<{$lang_newposts}>" />
		<{elseif $categories[category].forums.forum_type[forum] == 'nonewposts'}>
			<img src="<{$categories[category].forums.forum_folder[forum]}>" alt="<{$lang_nonewposts}>" title="<{$lang_nonewposts}>" />
		<{/if}>
	</td>
	<td class="odd forumname">
	<dl>
	<dt><a href="<{$mod_url}>/viewforum.php?forum=<{$categories[category].forums.forum_id[forum]}>"><{$categories[category].forums.forum_name[forum]}></a></dt>
		<dd><{$categories[category].forums.forum_desc[forum]}></dd>
		<dd class="moderator"><{$lang_moderators}>&nbsp;<{$categories[category].forums.forum_moderators[forum]}></dd>
	</dl></td>
	<td class="even numbersoftopics"><{$categories[category].forums.forum_topics[forum]}></td>
	<td class="odd numbersofposts"><{$categories[category].forums.forum_posts[forum]}></td>
	<td class="even latestpost"><{$categories[category].forums.forum_lastpost_time[forum]}><br /><{$categories[category].forums.forum_lastpost_user[forum]}> <{$categories[category].forums.forum_lastpost_icon[forum]}></td>
</tr>
<{/section}>
<!-- end forums -->
</table>
<{/if}>

<{/section}>
<!-- end forum categories -->
<form name="search" action="<{$mod_url}>/search.php" method="post" class="search">
	<label for="search" class="searchinbbs"><{$lang_search}></label>&nbsp;<input name="term" type="text" size="20" id="search" /><input type="hidden" name="forum" value="all" /><input type="hidden" name="sortby" value="p.post_time desc" /><input type="hidden" name="searchboth" value="both" /><input type="hidden" name="submit" value="<{$lang_search}>" />&nbsp;[<a href="<{$mod_url}>/search.php"><{$lang_advsearch}></a>]
</form>

<ul class="iconexp">
	<li><img src="<{$img_hotfolder}>" alt="" /> = <{$lang_newposts}></li>
	<li><img src="<{$img_folder}>" alt="" /> = <{$lang_nonewposts}></li>
	<li><img src="<{$img_locked}>" alt="" /> = <{$lang_private}></li>
</ul>

<hr class="notification" />
</div>

<{include file='db:system_notification_select.html'}>
<!-- end module contents -->
